<div fxLayout="column" fxLayoutAlign="start" style="width: 100%; height: 100%;">
  <div style="margin-left: -24px; margin-right: -24px; margin-top: -24px;">
    <div class="pa-1">
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <div fxFlex>
          <span style="vertical-align: -webkit-baseline-middle;">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="#000000 " d="M19,19H5V5H15V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V11H19M7.91,10.08L6.5,11.5L11,16L21,6L19.59,4.58L11,13.17L7.91,10.08Z"
              />
            </svg>
          </span>
          <span class="text-xl" [mdTooltip]="getTranslatedTaskName(task?.description,task)" [mdTooltipPosition]="'above'"> {{ getTranslatedTaskName(task?.description,task) | limitTo: 55}} </span>
        </div>
        <button md-icon-button (click)="closeDialog()">
          <md-icon>close</md-icon>
        </button>
      </div>
    </div>
    <hr>
  </div>
  <br>
  <div fxLayout="row wrap">
    <div fxFlex="30">
      <label> {{'DASHBOARD.DUEDATE' | translate}} </label>
    </div>
    <div fxFlex="70">
      : &nbsp;&nbsp; {{ task?.dueDate | date: 'dd/MM/yyyy' }}
    </div>
  </div>
  <div fxLayout="row wrap">
    <div fxFlex="30">
      <label> {{'DASHBOARD.ASSIGNEDTO' | translate}} </label>
    </div>
    <div fxFlex="70">
      : &nbsp;&nbsp; {{ utilityservice.getTranslateADMTCSTAFFKEY(task?.userSelection?.name)}}
    </div>
  </div>
  <div fxLayout="row wrap">
    <div fxFlex="30">
      <label> {{'DASHBOARD.TASK' | translate}} </label>
    </div>:
    <!-- [mdTooltip]="getTranslatedTaskName(task?.description)" mdTooltipPosition="above" -->
    <div fxFlex="69" style="padding-left: 15px;">
        {{ getTranslatedTaskName(task?.description,task)}}
    </div>
  </div>
  <div fxLayout="row wrap">
    <div fxFlex="30">
      <label> {{'DASHBOARD.SUBJECT/TEST' | translate}} </label>
    </div>
    <div fxFlex="70">
      : &nbsp;&nbsp; {{ testName }}
    </div>
  </div>
  <div fxLayout="row wrap">
    <div fxFlex="30">
      <label> {{'DASHBOARD.PRIORITY' | translate}} </label>
    </div>
    <div fxFlex="70">
      : &nbsp;&nbsp; {{ task?.priority }}
    </div>
  </div>
</div>
