<form [formGroup]="form">
  <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="card-margin">
    <button md-raised-button color="primary" type="button" (click)="goToPreviousStep()">
      <md-icon>chevron_left</md-icon>
      {{'PREVIOUS' | translate}}
    </button>
    <button md-raised-button color="accent" type="button" (click)="goToNextStep()">
      {{'CONTINUE' | translate}}
      <md-icon>keyboard_arrow_right</md-icon>
    </button>
  </div>

  <md-card>
    <md-card-content>
      <md-card style="background-color: #607d8b;">
        <div class="pa-1">
          <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <h3 style="margin: 0">{{'TEST.DOCUMENTSADDED' | translate}}</h3>
            <div>
              <button md-raised-button fxFlexAlign="end" type="button" (click)="addNewDoc()" [disabled]="newDoc">
                {{'TEST.ADDDOCUMENT' | translate}}
              </button>
            </div>
          </div>
        </div>
        <!-- </md-card> -->
        <hr>
        <md-card-content class="no-bottom-margin">
          <md-card *ngIf="newDoc">
            <md-card-content>
              <div fxLayout="row wrap">
                <div fxFlex="45">
                  <div class="px-1 select-input-container">
                    <md-select style="margin-left: -10px; " color="accent" [placeholder]="'DOCUMENT.TYPE' | translate" [formControl]="form.controls['documentType']"
                      style="width: 95%;">
                      <md-option *ngFor="let documentType of documentTypes | orderBy: 'view';" [value]="documentType.value">
                        {{ ('DOCUMENTTYPES.' + documentType.value.toUpperCase()) | translate}}
                      </md-option>
                    </md-select>
                    <!-- <md-hint class="text-md">Types de document.</md-hint> -->
                  </div>
                </div>
                <div fxFlex="45">
                  <md-input-container color="accent" style="width: 90%; margin-top:3px ">
                    <input mdInput [placeholder]="'DOCUMENT.NAME'| translate" [formControl]="form.controls['documentName']" type="text">
                    <!--<md-hint>Ecrire nom du document.</md-hint>-->
                  </md-input-container>
                </div>
                <div fxFlex="10" fxLayoutAlign="end">
                  <button md-icon-button md-raised-button type="button" color="primary" (click)="cancelNewDoc()">
                    <md-icon>close</md-icon>
                  </button>
                </div>
              </div>
              <div fxLayout="row wrap">
                <div [fxFlex]="docRelativeDate ? 30 : 40">
                  <div class="px-1 select-input-container">
                    <md-slide-toggle [checked]="docRelativeDate" style="margin-top: 1rem" labelPosition="before" (change)="changeDateTypeForDocuments($event)">
                      {{'TEST.RELATIVEDATE' | translate}}
                    </md-slide-toggle>
                  </div>
                </div>
                <div [fxFlex]="30" *ngIf="docRelativeDate">
                  <md-radio-group formControlName="daysBefore" style="margin-top: 0.9rem;">
                    <md-radio-button value="before">{{'BEFORE' | translate}}</md-radio-button>
                    <md-radio-button value="after">{{'AFTER' | translate}}</md-radio-button>
                  </md-radio-group>
                </div>
                <div [fxFlex]="'docRelativeDate ? 20 : 50'">
                  <div *ngIf="docRelativeDate" style="float: right;margin-left:10px; margin-top:4px;">
                    <md-input-container>
                      <input mdInput (change)="checkNumberOfDaysForDocuments($event)" formControlName="numberOfDays" [placeholder]="'TEST.DAYS' | translate"
                        type="number" style="width: 50%" />
                    </md-input-container>
                  </div>
                  <div *ngIf="!docRelativeDate">
                    <div class="px-1">
                      <md-input-container>
                        <input mdInput [(ngModel)]="mdDate" name="mdDate" ngui-datetime-picker date-format="DD-MM-YYYY H:mm" [placeholder]="'TEST.CALENDAR.WHEN' | translate"
                          [close-on-select]="true" formControlName="publicationDate" />
                      </md-input-container>
                    </div>
                  </div>
                </div>

                <div fxFlex="20">
                  <div class="px-1">
                    <button fxFlexAlign="end" md-raised-button md-button-sm color="primary" type="button" style="margin-top:10px;" (click)="openUploadWindow()"
                      [disabled]="!form.valid" *ngIf="uploader.queue.length === 0">
                      <md-icon>add</md-icon>
                      {{'DOCUMENT.FILE' | translate}}
                    </button>
                    <input #uploadFileControl style="display: none" type="file" ng2FileSelect [uploader]="uploader" disableMultipart="true" />
                  </div>
                </div>
              </div>
              <md-card *ngIf="uploader.queue.length > 0" style="background-color: #607d8b">
                <md-card-content>
                  <div class="pt-1" style="display: inline-block;">
                    <md-icon style="vertical-align: middle">insert_drive_file</md-icon>
                    {{uploader.queue[0].file?.name}}
                  </div>
                  <div style="float: right;">
                    <span *ngIf="uploader.queue[0]?.isSuccess">
                      <div style="vertical-align: middle; display: inline-block;">
                        <md-icon>check</md-icon>
                      </div>
                      <div style="display: inline-block;">Success</div>
                    </span>
                    <span *ngIf="uploader.queue[0]?.isCancel">
                      <div style="vertical-align: middle; display: inline-block;">
                        <md-icon>cancel</md-icon>
                      </div>
                      <div style="display: inline-block;">Cancelled</div>
                    </span>
                    <span *ngIf="uploader.queue[0]?.isError">
                      <div style="vertical-align: middle; display: inline-block;">
                        <md-icon>error</md-icon>
                      </div>
                      <div style="display: inline-block;">
                        Error
                      </div>
                    </span>
                  </div>
                  <div>

                    <div class="mt-1">
                      <button md-raised-button color="primarybtn" (click)="upload()" type="button" [disabled]="uploader.queue[0].isReady || uploader.queue[0].isUploading || uploader.queue[0].isSuccess">
                        <md-icon>file_upload</md-icon>
                        {{'DOCUMENT.ADDTHISFILE' | translate}}
                      </button>
                      <button md-raised-button color="accent" (click)="uploader.queue[0].cancel()" type="button" [disabled]="!uploader.queue[0].isUploading">
                        <md-icon>cancel</md-icon>
                        {{'DOCUMENT.CANCELUPLOAD' | translate}}
                      </button>
                      <button md-raised-button color="warn" type="button" (click)="clearUploadQueue()">
                        <md-icon>delete</md-icon>
                        {{'REMOVE' | translate}}
                      </button>
                    </div>
                  </div>
                </md-card-content>
              </md-card>
            </md-card-content>
          </md-card>


          <md-card *ngFor="let document of test.documents; let i = index">
            <md-card-content>
              <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div fxFlex="80">
                  <div>{{'DOCUMENT.NAME' | translate}} : {{ document?.name }}</div>
                  <div>{{'DOCUMENT.TYPE' | translate}} : {{ ('DOCUMENTTYPES.' + document?.type?.toUpperCase() | translate) }}</div>
                  <div>{{'DOCUMENT.FILE' | translate}} : {{ document?.fileName }}</div>
                  <ng-template [ngIf]="document?.publicationDate?.type === 'fixed'">
                    <div>{{'EXPECTEDDOCUMENT.DATEOFPUBICATION' | translate}} : {{getTranslatedDate(document?.publicationDate.publicationDate)}}</div>
                  </ng-template>
                  <ng-template [ngIf]="document?.publicationDate?.type === 'relative'">
                    <div>{{'EXPECTEDDOCUMENT.DATEOFPUBICATION' | translate}} : {{document.publicationDate.before ? ('BEFORE' |
                      translate) : ('AFTER' | translate)}} {{document.publicationDate.days}} {{'DAYS' | translate}}
                    </div>
                  </ng-template>
                </div>
                <button md-icon-button (click)="removeDocument(i)">
                  <md-icon>cancel</md-icon>
                </button>
              </div>
              <!-- </a>
            </md-nav-list> -->
            </md-card-content>
            <!--</md-card-content>-->
          </md-card>


          <!-- </div>
      </div> -->
          <div class="pa-1" style="text-align: center" *ngIf="test.documents.length <= 0 ">
            {{'DOCUMENT.NODOCUMENTS' | translate}}
          </div>

        </md-card-content>
      </md-card>
    </md-card-content>
  </md-card>

</form>
<!-- Same Card -->
<form [formGroup]="expectedForm" (ngSubmit)="passExpectedFormData()">
  <md-card>
    <md-card-content>
      <md-card style="background-color: #607d8b;">
        <div class="pa-1">
          <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <h3 style="margin: 0">{{'TEST.DOCUMENTSEXPECTED' | translate}}</h3>
            <div>
              <button md-raised-button fxFlexAlign="end" type="button" (click)="addNewExpectedDoc()" [disabled]="newExpectedDoc">
                {{'TEST.ADDDOCUMENT' | translate}}
              </button>
            </div>
          </div>
        </div>
        <hr>

        <md-card-content class="no-bottom-margin">
          <md-card *ngIf="newExpectedDoc">
            <md-card-content>
              <div fxLayout="row" fxLayoutWrap="wrap">
                <div fxFlex="80">
                  <div class="px-1 select-input-container">
                    <md-input-container color="accent" style="margin-top:3px;" style="width: 65% !important;">
                      <input mdInput [placeholder]="'DOCUMENT.NAME'| translate" formControlName="documentName" type="text">
                      <!--<md-hint>Ecrire nom du document.</md-hint>-->
                    </md-input-container>
                  </div>
                </div>
                <div fxFlex="10" fxLayoutAlign="end">
                  <button md-icon-button md-raised-button color="accent" class="mr-1" type="submit" [disabled]="!this.expectedForm.valid">
                    <md-icon>done</md-icon>
                  </button>
                </div>
                <div fxFlex="10" fxLayoutAlign="end">
                  <button md-icon-button md-raised-button type="button" color="primary" (click)="cancelNewExpectedDoc()">
                    <md-icon>close</md-icon>
                  </button>
                </div>
              </div>
              <div fxLayout="row" fxLayoutWrap="wrap">
                <div fxFlex="60">
                  <div class="px-1 select-input-container">
                    <md-select color="accent" [placeholder]="'TEST.CALENDAR.WHO' | translate" formControlName="documentUserType" style="width: 90% !important;">
                      <md-option *ngFor="let userType of userTypes" [value]="userType._id" (click)="checkIfStudent(userType.name.toUpperCase(), userType.isSystemType)">
                        {{ getTranslateADMTCSTAFFKEY(userType.name) }}
                      </md-option>
                    </md-select>
                    <!-- <md-hint class="text-md">Types de document.</md-hint> -->
                  </div>
                </div>
                <div fxFlex="40" *ngIf="isStudent && !test?.groupTest" style="margin-top:15px">
                  <div class="px-1 select-input-container">
                    <md-checkbox formControlName="isForAllStudents">
                      {{ 'DOCUMENT.FOREACHSTUDENT' | translate }}
                    </md-checkbox>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayoutWrap="wrap">
                <div fxFlex="30" style="margin-top: 0.2rem" *ngIf="!test?.allowReTakeExam">
                  <div class="px-1">
                    <md-slide-toggle [checked]="relativeDate" style="margin-top: 0.5rem" labelPosition="before" (change)="changeDateType($event)">
                      {{'TEST.RELATIVEDATE' | translate}}
                    </md-slide-toggle>
                  </div>
                </div>
                <div fxFlex="70">
                  <div class="px-1" *ngIf="!relativeDate">
                    <md-input-container dividerColor="accent">
                      <input mdInput formControlName="deadlineDate" [mdDatepicker]="stepDatePicker" [placeholder]="'TEST.CALENDAR.WHEN'|translate"
                        type="text" date>
                      <button mdSuffix class="white-datepicker-button" [mdDatepickerToggle]="stepDatePicker"></button>
                    </md-input-container>
                    <md-datepicker #stepDatePicker [touchUi]="true"></md-datepicker>
                  </div>
                  <!-- <div fxFlex="50"> -->
                  <div class="px-1" style="margin-top: 0.5rem" *ngIf="relativeDate" fxFlex="50">
                    <md-radio-group formControlName="daysBefore">
                      <md-radio-button value="before">{{'BEFORE' | translate}}</md-radio-button>
                      <md-radio-button value="after">{{'AFTER' | translate}}</md-radio-button>
                    </md-radio-group>
                  </div>
                  <div class="px-1" *ngIf="relativeDate" fxFlex="50">
                    <md-input-container>
                      <input mdInput (change)="checkNumberOfDays($event)" formControlName="numberOfDays" [placeholder]="'TEST.NUMBEROFDAYS' | translate"
                        type="number" />
                    </md-input-container>
                  </div>
                  <div fxFlex="70" fxFlex.lt-md="70" [ngStyle]="{'visibility': test?.allowReTakeExam ? 'visible' : 'hidden'}">
                    <div class="px-1">
                      <md-input-container dividerColor="accent" style="width: 100%" [ngStyle]="{'visibility': test?.allowReTakeExam ? 'visible' : 'hidden'}">
                        <input mdInput type="text" [mdDatepicker]="retakeTestDatePicker" formControlName="docUploadDateRetakeExam" [placeholder]="'TEST.RETAKE_DATE' | translate">
                        <button mdSuffix [mdDatepickerToggle]="retakeTestDatePicker" class="white-datepicker-button"></button>
                      </md-input-container>
                      <md-datepicker #retakeTestDatePicker [touchUi]="true"></md-datepicker>
                    </div>
                  </div>

                </div>
              </div>
              <!-- <div fxLayout="row" fxLayoutWrap="wrap" [ngStyle]="{'visibility': test?.allowReTakeExam ? 'visible' : 'hidden'}">
                <div fxFlex="30" fxFlex.lt-md="30">
                  <div class="px-1">
                    <md-input-container dividerColor="accent" style="width: 100%" [ngStyle]="{'visibility': test?.allowReTakeExam ? 'visible' : 'hidden'}">
                      <input mdInput type="text" [mdDatepicker]="retakeTestDatePicker" formControlName="docUploadDateRetakeExam" [placeholder]="'TEST.RETAKE_DATE' | translate">
                      <button mdSuffix [mdDatepickerToggle]="retakeTestDatePicker" class="white-datepicker-button"></button>
                    </md-input-container>
                    <md-datepicker #retakeTestDatePicker [touchUi]="true"></md-datepicker>
                  </div>
                </div>
              </div> -->
            </md-card-content>
          </md-card>

          <md-card *ngFor="let ed of test.expectedDocuments; let in = index">
            <md-card-content>
              <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div fxFlex="80">

                  <div>{{'EXPECTEDDOCUMENT.NAME' | translate}} : {{ ed.documentName }}</div>
                  <div>{{'EXPECTEDDOCUMENT.USERTYPE' | translate}} : {{getTranslateADMTCSTAFFKEY(getDocumentUserType(ed?.documentUserType))}}</div>
                  <ng-template [ngIf]="ed.deadlineDate.type === 'fixed'">
                    <div>{{'EXPECTEDDOCUMENT.DEADLINE' | translate}} : {{getTranslatedDate(ed?.deadlineDate?.deadline)}}</div>
                  </ng-template>
                  <ng-template [ngIf]="ed.deadlineDate.type === 'relative'">
                    <div>{{'EXPECTEDDOCUMENT.DEADLINE' | translate}} : {{ed.deadlineDate.before ? ('BEFORE' | translate) : ('AFTER'
                      | translate)}} {{ed.deadlineDate.days}} {{'DAYS' | translate}}
                    </div>
                  </ng-template>
                  <ng-template [ngIf]="ed.isForAllStudents">
                    <div>{{'EXPECTEDDOCUMENT.FOREACH' | translate}}</div>
                  </ng-template>
                  <ng-template [ngIf]="ed.docUploadDateRetakeExam">
                    <div>{{'EXPECTEDDOCUMENT.RETAKE_DEALINE' | translate}} : {{getTranslatedDate(ed?.docUploadDateRetakeExam)}}</div>
                  </ng-template>
                </div>
                <button md-icon-button (click)="removeExpectedDocument(ed.documentName, in)" type="button">
                  <md-icon>cancel</md-icon>
                </button>
              </div>


            </md-card-content>
          </md-card>

          <div class="pa-1" style="text-align: center" *ngIf="test.expectedDocuments.length === 0">
            {{'EXPECTEDDOCUMENT.NODOCUMENTS' | translate}}
          </div>
        </md-card-content>
      </md-card>
    </md-card-content>
  </md-card>

</form>
