<div fxLayout="column" fxLayoutAlign="start" style="width: 100%; height: 100%;">
  <div style="margin-left: -24px; margin-right: -24px; margin-top: -24px;">
    <div class="pa-1">
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <div fxFlex>
          <md-icon class="middle">receipt</md-icon>
          <span class="text-xl">{{'TEST.AVAILABLETEST' | translate}}</span>
        </div>
        <button md-icon-button (click)="closeDialog()">
          <md-icon>close</md-icon>
        </button>
      </div>
    </div>
    <hr>
  </div>
  <!--<div fxFlex class="mb-1" style="min-height: 300px;">-->
  <!--<input #searchInput type="text" width="100%" (keyup)="refreshSearch(searchInput.value)" class="search-input"-->
  <!--placeholder="Search..."/>-->
  <!--</div>-->

  <input #searchInput type="text" (keyup)="refreshSearch(searchInput.value)" class="search-input mt-1" placeholder="{{'TEST.TESTSEARCH' | translate}}"
  />
  <!-- <span class="mat-red text-lg mt-1" *ngIf="showHint">Please enter atleast 2 characters to search.</span> -->
  <div class="mt-1" fxFlex style="min-height: 300px; overflow: auto;">
    <div *ngIf="searching; else results">
      <div fxLayout="column wrap" fxLayoutAlign="start center">
        <md-spinner></md-spinner>
        <div>Searching...</div>
      </div>
    </div>
    <ng-template #results>
      <div fxLayout="row wrap">
        <div fxFlex>
          <md-nav-list>
            <a md-list-item (click)="duplicateTest(result)" style="border-bottom: 1px solid rgba(0, 0, 0, 0.4)" *ngFor="let result of searchResults">
              {{result.rncpTitle.shortName + ' - ' + result.test.name}}
            </a>
          </md-nav-list>
        </div>
      </div>
    </ng-template>
  </div>
</div>