.taskDetailsText .mat-input-element:disabled {
    color: rgb(0, 0, 0);
}

.task-desp{
    float: left;
}

.issuance-details-task {
    float: left;
    width: 380px;
    margin-left: 5px;
}

.check-icon {
    font-size: 27px;
    cursor: pointer;
    color: greenyellow;
    float: left;
    margin-top: 7px;
}