
.mat-select {
    display: block;
}

.label-text {
    //margin-top: 3%;
    // text-align: right;
}

md-radio-group {
    float: left !important;
    height: 35px;
}


.label-text {
    padding-top: 15px;
}

.civility {
    margin-top: 11px;
}

.padding16 {
    padding: 16px;
}


.pa-1 {
    padding: 0 1rem !important;
}

.btn-delete {
    font-size: 13px;
    margin-bottom: 8px;
    padding: 0;
    line-height: 35px;
    min-width: 45px;
}

.mat-card-student-edit {
    margin: 0 !important;
}