<md-card>
  <md-card-content>
      <div fxLayout="row" fxLayoutWrap="wrap">
      </div>

      <div fxLayout="row" fxLayoutWrap="wrap">
          <div fxFlex="20" fxFlex.lt-md="20">
              <div class="px-1 select-input-container">
                  <md-select color="accent" [(ngModel)]="rncptitle" fxFlex="80" fxFlex.lt-md="80" [placeholder]="'USERS.SELECTRNCPTITLE' | translate"
                      style="width: 100%" (change)="getRncpAssoClass(rncptitle )">
                      <md-option *ngFor="let rncptitle of RNCPTitles" [value]="rncptitle._id">
                          {{ rncptitle.shortName }}
                      </md-option>
                  </md-select>
              </div>
          </div>

          <div fxFlex="20" fxFlex.lt-md="20">
              <div class="px-1 select-input-container">
                  <md-select color="accent" fxFlex="80" fxFlex.lt-md="80" [(ngModel)]="userClassTitle"
                  style="width: 100%" [placeholder]="'STUDENT.CLASSES.title' | translate">
                      <md-option *ngFor="let class of classType" [value]="class._id">
                          {{ class.name }}
                      </md-option>
                  </md-select>

              </div>
          </div>
          <div fxFlex="20" fxFlex.lt-md="20">
              <!-- <div class="px-1 select-input-container">
                  <md-select color="accent" (change)="FilterRecords($event.value)" fxFlex="80" fxFlex.lt-md="100" placeholder="Select Validation"
                      style="width: 100%">
                  </md-select>
              </div> -->
          </div>
          <div fxFlex="40" fxFlex.lt-md="40" fxFlexAlign="end end">
              <div fxLayout="row" style="place-content: flex-end;" fxLayoutWrap="wrap" fxLayoutGap="10px">
                  <md-input-container fxFlex="37" dividerColor="accent">
                      <input mdInput [(ngModel)]="searchText" maxlength="30" [placeholder]="'USERS.SEARCH' | translate" type="text">
                  </md-input-container>
                  <div fxFlex="61" dividerColor="accent">
                      <div fxLayout="row" fxLayoutWrap="wrap">
                          <div fxFlex="60" dividerColor="accent">
                              <button md-raised-button fxFlex type="button" class="btnSearch" color="primary" (click)="searchUserList(true)">
                                  <md-icon>search</md-icon>
                                  {{'USERS.SEARCH' | translate}}
                              </button>
                          </div>
                          <div fxFlex="39" dividerColor="accent">
                              <button [disabled]="!isSearching" style="margin-left: 5px;" md-raised-button fxFlex type="button" class="btnSearch" color="primary"
                                  (click)="resetSearch()">
                                  <md-icon>restore</md-icon>
                                  Reset
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div fxLayout="row" fxLayoutWrap="wrap">

          <div fxFlex="60" fxFlex.lt-md="20">
          </div>

          <div fxFlex="40" fxFlex.lt-md="37" fxFlexAlign="end end">
              <div fxLayout="row" style="place-content: flex-end;" fxLayoutWrap="wrap" fxLayoutGap="10px">

                  <div fxFlex="37" fxFlex.lt-md="40">
                  </div>

                  <div fxFlex="61" dividerColor="accent">
                      <div fxFlex="60" fxFlex.lt-md="100" fxFlexAlign="end end">
                          <div class="select-input-container">
                              <!-- <button fxFlex md-raised-button color="accent" (click)=goToAddStudent(); class="btnSearch">
                                  <md-icon>school</md-icon> {{ 'Customer.AddStudent' | translate }}
                              </button> -->
                          </div>
                      </div>

                      <div fxFlex="39" dividerColor="accent">
                          <button [disabled]="true" style="margin-left: 5px;" md-raised-button fxFlex type="button" class="btnSearch" color="primary" (click)="onExportPDF()">
                              <i class="fa fa-file-pdf-o" style="font-size: 16px" aria-hidden="true"></i> Export PDF
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </md-card-content>
</md-card>
<div *ngIf="StudentList" >
  <ngx-datatable class="material rncp-table inActStuListNgxDiv" [rows]="StudentList" [columnMode]="'flex'" [headerHeight]="50"
      [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [reorderable]="true"
      [count]="page.totalElements" [offset]="page.pageNumber" [limit]="" (page)="changePage($event)" [messages]="{emptyMessage: 'NoDataToDisplay' | translate }"
      [sorts]="[{prop: 'lastName', dir: 'asc'},{prop: 'status', dir: 'asc'}, {prop:'jobDescriptionId.status', dir: 'asc'}, {prop:'problematicId.problematicStatus', dir: 'asc'}, {prop:'mentorEvaluationId.mentorEvaluationStatus', dir: 'asc'}]"
      [externalSorting]="true" (sort)="sortPage($event)" [cssClasses]="ngxDtCssClasses" #table [selectionType]="'checkbox'"
      (select)='onStudentSelected($event)' [selected]="selectedstudents">

      <ngx-datatable-column [flexGrow]="1" [width]="45" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false"
          [headerCheckboxable]="true" [checkboxable]="true">
      </ngx-datatable-column>

      <ngx-datatable-column [flexGrow]="5" prop="lastName" name="lastName" [sortable]="true" [resizeable]="false">
          <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
              <span (click)="sort()"> {{'STUDENT.LASTNAME.title' | translate}}</span>
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              {{ row.lastName }}
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [flexGrow]="5" prop="firstName" name="firstName" [sortable]="false" [resizeable]="false">
          <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
              <span (click)="sort()"> {{'STUDENT.FIRSTNAME.title' | translate}}</span>
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <span class="tooltips">{{ row.firstName }}
                  <span class="tooltipimage" *ngIf="row.photo != ''">
                      <img [src]="row.photo ? serverimgPath + row.photo : imgUrl" class="tooltips customImage" />
                  </span>
              </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [flexGrow]="3" name="civility" prop="civility" [resizeable]="false">
          <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
              {{'USERLISTTABLE.CIVILITY.TITLE' | translate}}
          </ng-template>

          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              {{ (row.sex == 'Male' ? 'USERLISTTABLE.CIVILITY.MR' : 'USERLISTTABLE.CIVILITY.MRS') | translate }}
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [flexGrow]="3" prop="status" name="status" class="contentAlignMent" [sortable]="true" [resizeable]="false">
          <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
              {{ 'TASK.STATUS' | translate}}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <div  *ngIf="!row?.incorrectEmail" style="text-align: center;">
              <i *ngIf="row.status === 'active'" style="color:greenyellow;" mdTooltip="{{'STUDENT.MESSAGE.ACTIVE_STATUS' | translate}}"
                mdTooltipPosition="right" class="fa fa-check-circle statusIcon" aria-hidden="true"></i>
              <i *ngIf="row.status === 'pending'" style="color:black;" mdTooltip="{{'STUDENT.MESSAGE.PENDING' | translate}}" mdTooltipPosition="right"
                class="fa fa-check-circle statusIcon" aria-hidden="true"></i>
              <i *ngIf="row.status === 'deactivated'" style="color:red;" mdTooltip="{{'STUDENT.MESSAGE.NONACTIVE_STATUS' | translate}}"
                mdTooltipPosition="right" class="fa fa-check-circle statusIcon" aria-hidden="true"></i>
            </div>

            <div  *ngIf="row?.incorrectEmail" style="text-align: center;">
              <i style="color: red;" class="fa fa-check-circle statusIcon" aria-hidden="true"></i>
          </div>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [flexGrow]="3" prop="jobDescriptionId.status" name="jobDescriptionId.status" [sortable]="true" [resizeable]="false">
          <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
              <span (click)="sort()" tooltip="{{'JOBDESCRIPTIONFORM.TITLE' | translate}}" placement="top"> {{'USERLISTTABLE.JOB' | translate}}</span>
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <div style="text-align:center;" *ngIf="row?.jobDescriptionId?.status  && row?.jobDescriptionId?._status !== 'deleted'" [ngSwitch]="row?.jobDescriptionId?.status">
                <i *ngSwitchCase="'sent_to_student'" style="color:red;" [ngStyle]="{ 'display': row?.jobDescriptionId?.sendNotification ? 'inline' : 'none' }"
                  class="fa fa-circle statusIcon" aria-hidden="true" mdTooltip="{{ 'STUDENT.SENTTOSTUDENT' | translate }}" mdTooltipPosition="right"></i>
                <i *ngSwitchCase="'sent_to_mentor'" style="color:#ffd740;"  class="fa fa-circle statusIcon" aria-hidden="true" mdTooltip="{{ 'STUDENT.SENT_TO_SCHOOL' | translate }}" mdTooltipPosition="right"></i>
                <i *ngSwitchCase="'validated_by_mentor'" style="color:#ffd740;"  class="fa fa-circle statusIcon" aria-hidden="true" mdTooltip="{{ 'STUDENT.SENT_TO_SCHOOL' | translate }}" mdTooltipPosition="right"></i>
                <i *ngSwitchCase="'validated_by_acad_staff'" style="color:greenyellow;"  class="fa fa-circle statusIcon" aria-hidden="true" mdTooltip="{{ 'STUDENT.VALIDATEBYACADEMICDPT' | translate }}" mdTooltipPosition="right"></i>
                <i *ngSwitchCase="'expedite_by_acad_staff'" style="color:greenyellow;"  class="fa fa-circle statusIcon" aria-hidden="true" mdTooltip="{{ 'STUDENT.VALIDATEBYACADEMICDPT' | translate }}" mdTooltipPosition="right"></i>
                <i *ngSwitchCase="'expedite_by_acad_staff_student'" style="color:greenyellow;"  class="fa fa-circle statusIcon" aria-hidden="true" mdTooltip="{{ 'STUDENT.VALIDATEBYACADEMICDPT' | translate }}" mdTooltipPosition="right"></i>
                <i *ngSwitchDefault style="color:red;"  class="fa fa-circle statusIcon" aria-hidden="true"></i>
            </div>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [flexGrow]="3" prop="problematicId.problematicStatus" name="problematicId.problematicStatus" [sortable]="true" [resizeable]="false">
          <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
              <span tooltip="Prob." placement="top">Prob.</span>
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <div style="text-align:center;" *ngIf="row?.problematicId?.problematicStatus && row?.problematicId?.status !== 'deleted'" [ngSwitch]="row?.problematicId?.problematicStatus"
                mdTooltip="{{ 'STUDENT.PROBLEMATIC.SENDNOTIFICATION.' + row.problematicId.problematicStatus.toUpperCase() | translate}}" mdTooltipPosition="right" >
                   <i *ngSwitchCase="'sent_to_acadDpt'" style="color:#ffd740;"  class="fa fa-circle statusIcon" aria-hidden="true"></i>
                   <i *ngSwitchCase="'resubmitted_to_acadDpt'" style="color:#ffd740;"  class="fa fa-circle statusIcon" aria-hidden="true"></i>
                   <i *ngSwitchCase="'validated_by_acadDpt'" style="color:#ff46f9;"  class="fa fa-circle statusIcon" aria-hidden="true"></i>
                   <i *ngSwitchCase="'sent_to_certifier'" style="color:#3f9efb;"  class="fa fa-circle statusIcon" aria-hidden="true"></i>
                   <i *ngSwitchCase="'validated_by_certifier'" style="color:greenyellow;"  class="fa fa-circle statusIcon" aria-hidden="true"></i>
                   <i *ngSwitchDefault style="color:red;"  class="fa fa-circle statusIcon" aria-hidden="true"></i>
               </div>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [flexGrow]="3" prop="mentorEvaluationId.mentorEvaluationStatus" name="mentorEvaluationId.mentorEvaluationStatus" [sortable]="true" [resizeable]="false">
          <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
              <span tooltip="{{'MENTOREVALUATION.TITLE' | translate}}" placement="top">{{'USERLISTTABLE.MENTOR' | translate}}</span>
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div style="text-align:center;" *ngIf="row?.mentorEvaluationId?.mentorEvaluationStatus" [ngSwitch]="row?.mentorEvaluationId?.mentorEvaluationStatus"
                      mdTooltip="{{ 'STUDENT.' + row.mentorEvaluationId.mentorEvaluationStatus.toUpperCase() | translate}}" mdTooltipPosition="right">
                    <i *ngSwitchCase="'sentToMentor'" style="color:#ffd740;"  class="fa fa-circle statusIcon" aria-hidden="true"></i>
                    <i *ngSwitchCase="'filledByMentor'" style="color:#3f9efb;"  class="fa fa-circle statusIcon" aria-hidden="true"></i>
                    <i *ngSwitchCase="'validatedByAcadStaff'" style="color:greenyellow;"  class="fa fa-circle statusIcon" aria-hidden="true"></i>
                    <i *ngSwitchCase="'expeditedByAcadStaff'" style="color:greenyellow;"  class="fa fa-circle statusIcon" aria-hidden="true"></i>
                    <i *ngSwitchDefault style="color:#ffd740;"  class="fa fa-circle statusIcon" aria-hidden="true"></i>
                </div>
          </ng-template>
      </ngx-datatable-column>
      <div *ngFor="let testList of testsList; let i=index;">
          <ngx-datatable-column [flexGrow]="3" name="testcolumns" [resizeable]="false">
              <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
                  <span tooltip="{{testList.evaluation}}" placement="top">
                      {{ 'U' + i }}
                  </span>
              </ng-template>

              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <!-- <div *ngIf="row.correctedTests.length > 0">
                      <div *ngIf="row.correctedTests[i]?.correction?.expectedDocuments.length > 0">
                          <div *ngIf="checkUploaded(row.correctedTests[i]?.correction?.expectedDocuments) === false; else showGreen">
                              <i class="fa fa-file-o fa-lg" style="color:black;cursor: pointer;"></i>
                          </div>
                          <ng-template #showGreen>
                              <i class="fa fa-file-o fa-lg" style="color:green;cursor: pointer;"></i>
                          </ng-template>
                      </div>
                  </div> -->
              </ng-template>
          </ngx-datatable-column>
      </div>

      <ngx-datatable-column name="Actions" [flexGrow]="4" [sortable]="false" [cellClass]="'text-center'">
          <ng-template let-column="column" ngx-datatable-header-template>
              {{'USERLISTTABLE.ACTIONS.TITLE' | translate}}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <button (click)="reactivateStudent(row)" md-icon-button md-button-sm md-raised-button class="grid-button">
                  <md-icon>settings_backup_restore</md-icon>
              </button>
              <!-- <button md-icon-button md-button-sm md-raised-button class="grid-button" (click)="sendMail(row)">
                  <md-icon>mail</md-icon>
              </button> -->
          </ng-template>
      </ngx-datatable-column>
  </ngx-datatable>

</div>
