<app-header></app-header>
<div class="main">
    <div class="container">
        <div class="tourism">
            <div class="mp cal-4">
                <img src="../../../assets/images/mp1.jpeg" alt='mp Logo'>
                <span class="btn"><button (click)="mpTourism()">visit</button></span>
            </div>
            <div class="gujrat cal-4"><img src="../../../assets/images/gujrat2.png" alt='gujrat Logo'>
                <span class="btn"> <button (click)="gujratTourism()">visit</button></span>
            </div>
            <div class="rajsthan cal-4"><img src="../../../assets/images/rajsthan1.jpeg" alt='rajsthan Logo'>
                <span class="btn"> <button (click)="rajsthanTourism()">visit</button></span>
            </div>
        </div>
    </div>
</div>