:host /deep/ {
    .ql-container {
        height: auto;
    }
    .send-mentor .mat-tab-label {
        display: none;
    }
    .PreviewDiv {
        height: 210px;
        overflow: auto;
    }
    .send-mentor md-radio-button {
        margin-right: 12px !important;
        margin-bottom: 10px;
    }
    .text-center {
        text-align: center;
    }
    .font-weight-bold {
        font-weight: bold;
    }
    .document * {
        font-size: 12px;
    }
    .document-view {
        border-left: 2px solid #424242;
        ;
    }
    .document-parent {
        white-space: normal;
        overflow: auto;
        padding: 0;
    }
    .document {
        background: white;
        color: black;
    }
    .orientation-portrait {
        width: 595pt;
        height: 842pt;
    }
    .orientation-landscape {
        width: 842pt;
        height: 595pt;
    }
    .lineme {
        display: flex;
        margin-top: 3px;
        margin-bottom: 3px
    }
    .signature {
        height: 3rem;
        display: flex;
        margin-top: 7px;
        margin-bottom: 3px;
    }
    .lineme:after {
        margin-left: 5px;
        display: block;
        content: "";
        border-bottom: 1px dotted;
        flex: 1 1 auto;
    }
    .signature:after {
        margin-left: 5px;
        display: block;
        content: "";
        border: 1px solid;
        flex: 1 1 auto;
    }
    .doc-header .doc-header-fields {
        margin-top: 20px;
    }
    .doc-header .doc-header-fields .doc-header-left {
        width: 45%;
        display: inline-block;
        vertical-align: top;
    }
    .doc-header .doc-header-fields .doc-header-right {
        float: right;
        width: 45%;
        display: inline-block;
        vertical-align: top;
    }
    .doc-group-details {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
    }
    .doc-group-details .group-header {
        font-size: 1.1rem;
    }
    .doc-group-details .group-table {
        border-collapse: collapse;
        width: 60%;
        margin: auto;
    }
    .doc-group-details .group-table .header {
        background-color: #d6d6d6;
    }
    .doc-group-details .group-table th {
        font-weight: bold;
    }
    .doc-group-details .group-table td,
    th {
        resize: both;
        border: 1px solid black;
        padding: 4px 5px;
        // white-space: initial;
        word-wrap: break-word;
    }
    .doc-grid {
        margin-top: 30px;
    }
    .doc-grid .doc-table {
        border-collapse: collapse;
    }
    .doc-grid .doc-table .section {
        background-color: #d6d6d6;
        //text-align: center;
        padding: 12px 5px;
    }
    .doc-grid .doc-table td,
    th {
        resize: both;
        border: 1px solid black;
        padding: 4px 5px;
        // white-space: initial;
        word-wrap: break-word;
    }
    .doc-grid .doc-table td.no-border {
        border: 0;
    }
    .doc-grid .doc-table td.head {
        background-color: #d6d6d6;
        font-weight: bold;
    }
    .doc-grid .list-header {
        border: 1px solid #000;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .doc-grid .comment-section {
        width: 100%;
        margin-top: 1rem;
        border-bottom: 1px dotted #000;
    }
    .ql-editor .fix-ql-ul {
        list-style: disc;
        //position: absolute;
    }
    .doc-footer .doc-footer-text {
        margin-top: 30px;
    }
    .doc-footer .doc-footer-fields {
        margin-top: 30px;
    }
    .doc-footer .doc-footer-fields .doc-footer-left {
        width: 45%;
        display: inline-block;
        vertical-align: top;
    }
    .doc-footer .doc-footer-fields .doc-footer-right {
        float: right;
        width: 45%;
        display: inline-block;
        vertical-align: top;
    }
} 
.autoHeightAdjust{
    min-height: 287px;
    overflow:hidden;
}