.full-width {
    width: 100%;
}

.center {
    text-align: center;
}

.setPassHeader {
    color: #cccc34;
    text-align: center;
    font-size: 35px;
}

.form-title {
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 6px;
}

.border-bottom-guardian {
    position: relative;
}

.setPasswordCard {
    // max-width: 400px;
    // margin: auto;
    md-card {
        background: #212121;
    }
}

.separator-guardian {
    border-bottom: 1px groove #f6f6f6;
    height: 50px;
}

.cursor-pointer {
    cursor: pointer;
}

.ml-10 {
    margin-left: 10px;
}

.mt-18 {
    margin-top: 18px;
}

.form-group {
    margin-bottom: 1rem;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.form-control-plaintext {
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 0;
    line-height: 1.25;
    border: solid transparent;
    border-width: 1px 0;
}

@media (min-width: 576px) {
    .col-sm-2 {
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }
    .col-sm-10 {
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
    }
}

.privacy-hypertext {
    cursor: pointer;
    font-weight: 600;
}

.cookie-consent-container{
    position: absolute;
    bottom: 5px;
    width: 99%;
    margin-left: 0.2%;
    background: black;
}

.cookie-consent-text {
    padding: 0px 10px 0px 20px;
    font-weight: 400;
    font-size: 17px;
}

#linkedin-button {
  background-color: #0077b5;
}

html { height: 100%; }
body { min-height: 100%; width: 100%; display: table; padding: 0; }


.vertical-divider {
  margin-left: -13px;
  height: 40px;
  background-color: aliceblue;
  background-color: #353535;
  padding-top: 10px;
}

.divider-parent {
  border-left: 1.5px black solid;
  height: 85%;
  display: flex;
  align-items: center;
}
  .button {
    backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: #0077b5;
  border-radius: 3px;
  border: 0px solid #444;
  border-width: 0px 0px 0px 0px;
  padding: 10px 15px 10px 41px;
  box-shadow: 0px 2px 0px #25a;
  text-align: center;
  color: #fff;
  font-size: 16px;
  // font-family: Helvetica Neue;
  font-weight: 900;
  font-style: normal;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
  width: 100%;
  }
  .button > div {
    color: #999;
  font-size: 10px;
  // font-family: Helvetica Neue;
  // font-weight: initial;
  // font-style: normal;
  text-align: center;
  margin: 0px 0px 0px 0px
  }
  .button > i {
    font-size: 1em;
  background: rgba(0,0,0,0.2);
  border-radius: 0px;
  border: 0px solid transparent;
  border-width: 0px 0px 0px 0px;
  padding: 14px 7px 14px 7px;
  margin: 0px 0px 0px 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 50px;
  }
  .button > .ld {
    font-size: initial
  }

