<!-- <button (click)="googlelogin()">Sign in with Google</button>
<button (click)="signOut();">Sign out</button><br /><br />

<div *ngIf="user">
  <img [src]="user.image" alt="logo">
  <h4>{{ user.name }}</h4>
  <p>{{ user.email }}</p>
</div> -->

<div class="g-signin2" data-onsuccess="onSignIn"></div>

<div class="data">

  <p>Profile Details</p>

  <img id="pic" class="img-circle" width="100" height="100">

  <p> Email Address</p>
  <p id="email" class="alert alert-danger"> </p>

  <button onclick="signOut()" class="btn btn-danger ">
  </button>
</div>

<!-- Display Google sign-in button -->
<!-- <div id="gSignIn"></div> -->

<!-- Show the user profile details -->
<!-- <div class="userContent" style="display: none;"></div> -->