<a *ngIf="nonAcademic" class="back-button" (click)="onNavigateBack()">
  <i class="fa fa-chevron-left" aria-hidden="true"></i>
</a>
<span class="schoolShortName" *ngIf="loginService.getLoggedInUser().entity.type !== 'academic' || utility.checkUserIsAdminOrDirectorOfCertifier()">
  {{ schoolShortName }}
</span>
  <br><br>

  <md-tab-group #tabGroupSchool (selectedIndexChange)="resetRouter($event)">
  <!-- <md-tab label="{{ 'Customer.Edit.SchoolDetail' | translate }}">
    <lk-admtc-customer-edit-detail></lk-admtc-customer-edit-detail>
  </md-tab> -->
  <!-- <md-tab label="{{ 'Customer.Edit.Company' | translate }}">
    <lk-admtc-customer-edit-company></lk-admtc-customer-edit-company>
  </md-tab> -->
  <!-- <md-tab label="{{ 'Customer.Edit.Contact' | translate }}">
    <lk-admtc-customer-edit-contact></lk-admtc-customer-edit-contact>
  </md-tab> -->
  <!-- <md-tab label="{{ 'Customer.Edit.Title' | translate }}">
    <admtc-customer-edit-title></admtc-customer-edit-title>
  </md-tab> -->
  <!-- <md-tab label="{{ 'Customer.Edit.Student' | translate }}">
    <app-customer-edit-student ></app-customer-edit-student>
  </md-tab> -->
    <md-tab label="{{ 'Customer.Edit.StudentCards' | translate }}">
        <app-student-dashboard></app-student-dashboard>
    </md-tab>
    <md-tab label="{{ 'Customer.Edit.StudentTable' | translate }}" *ngIf="!utility.checkUserIsAdminOrDirectorOfCertifier() && !utility.isJustProbCorrector()">
        <app-student-detailslist></app-student-detailslist>
    </md-tab>
    <md-tab label="{{ 'Customer.Edit.DEACTIVATED_STUDENTS' | translate }}" *ngIf="!utility.checkUserIsAdminOrDirectorOfCertifier() && !utility.isJustProbCorrector()">
      <app-student-inactive-table></app-student-inactive-table>
  </md-tab>
</md-tab-group>
