<div  fxLayout="column wrap" fxLayoutAlign="start" style="width: 100%; height: 100%;">
  <div style="margin-left: -24px; margin-right: -24px; margin-top: -24px;">
    <div class="pa-1">
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <h3 fxFlex>

          <span class="text-crossCorrection">
              <i class="fa fa-recycle" aria-hidden="true"></i>
            {{'CrossCorrection.Cross_Correction' | translate}}
          </span>
        </h3>
        <button md-icon-button (click)="closeDialog()">
          <md-icon>close</md-icon>
        </button>
      </div>
    </div>
    <hr>
  </div>

  <md-tab-group  headerPosition="center" class="mb-1 viewTemplate" md-stretch-tabs >
    <md-tab [label]="'MENTOREVALUATION.EMAILTEMPLATE.TITLE' | translate">
      <div fxLayout="row" fxLayoutWrap="wrap" fxFlex="100">
        <div fxFlex.gt-sm="100%" fxFlex="100">
            <form [formGroup]="form">

                  <div fxLayout="row" fxLayoutWrap="wrap" style="margin-top:20px; ">
                      <div fxFlex="100" fxFlex.lt-md="100">
                          <md-input-container fxFlex="100">
                              <input type="text" placeholder="{{'CrossCorrection.Select_RNCP_Title.title' | translate}}" mdInput [formControl]="form.controls['title']" [mdAutocomplete]="autoTitle">
                              <md-autocomplete #autoTitle="mdAutocomplete">
                                  <md-option *ngFor="let list of filteredOptionsRNCPTitle |  async" [value]="list.shortName" (click)="OnSelectRNCPTitle(list)">
                                      {{ list.shortName }}
                                  </md-option>
                              </md-autocomplete>
                          </md-input-container>
                      </div>
                      <div fxFlex="100" fxFlex.lt-md="100">
                          <small *ngIf="form.controls['title'].hasError('required') && (form.controls['title'].touched || formSubmit)" class="mat-text-warn"> {{'CrossCorrection.Select_RNCP_Title.validation1' | translate}}</small>
                      </div>
                  </div>

                  <div fxLayout="row" fxLayoutWrap="wrap" style="margin-top:10px; ">
                      <div fxFlex="100" fxFlex.lt-md="100">
                          <md-input-container fxFlex="100">
                              <input type="text" placeholder="{{'CrossCorrection.Select_a_Class.title' | translate}}" mdInput [formControl]="form.controls['class']" [mdAutocomplete]="autoClass">
                              <md-autocomplete #autoClass="mdAutocomplete">
                                  <md-option *ngFor="let list of filteredOptionsClass |  async" [value]="list.name" (click)="OnSelectClass(list)">
                                      {{ list.name }}
                                  </md-option>
                              </md-autocomplete>
                          </md-input-container>
                      </div>
                      <div fxFlex="100" fxFlex.lt-md="100">
                          <small *ngIf="form.controls['class'].hasError('required') && (form.controls['class'].touched || formSubmit)" class="mat-text-warn"> {{'CrossCorrection.Select_a_Class.validation1' | translate}}</small>
                      </div>
                  </div>

                  <div fxLayout="row" fxLayoutWrap="wrap" style="margin-top:10px; ">
                      <div fxFlex="100" fxFlex.lt-md="100">
                          <md-input-container fxFlex="100">
                              <input type="text" placeholder="{{'CrossCorrection.Select_the_Test.title' | translate}}" mdInput [formControl]="form.controls['test']" [mdAutocomplete]="autoTest">
                              <md-autocomplete #autoTest="mdAutocomplete">
                                  <md-option *ngFor="let list of filteredOptionsTest |  async" [value]="list.name" (click)="OnSelectTest(list)">
                                      {{ list.name }}
                                  </md-option>
                              </md-autocomplete>
                          </md-input-container>
                      </div>
                      <div fxFlex="100" fxFlex.lt-md="100">
                          <small *ngIf="form.controls['test'].hasError('required') && (form.controls['test'].touched || formSubmit)" class="mat-text-warn"> {{'CrossCorrection.Select_the_Test.validation1' | translate}}</small>
                      </div>
                  </div>



            </form>

        </div>
      </div>
    </md-tab>

  </md-tab-group>

  <div fxLayout="row wrap" fxLayoutAlign="end end" fxLayoutGap="5px" fxFlexAlign="end" style="width: 100%">
    <button md-raised-button color="red"  (click)="closeDialog()">{{"CrossCorrection.Cancel" | translate}}</button>
    <button md-raised-button color="primary"  [disabled]="!form.valid && !selectedTest && !selectedClass && !selectedRNCP" (click)="enterToCrossCorrection()">{{"CrossCorrection.Enter" | translate}}</button>
  </div>
</div>
