<div>
  <div fxLayout="row">
    <div fxFlex="90" fxFlex.lt-md="90">
      <h3>
        <svg class="key-svg" viewBox="0 0 24 24">
          <path fill="#000000" d="M22,18V22H18V19H15V16H12L9.74,13.74C9.19,13.91 8.61,14 8,14A6,6 0 0,1 2,8A6,6 0 0,1 8,2A6,6 0 0,1 14,8C14,8.61 13.91,9.19 13.74,9.74L22,18M7,5A2,2 0 0,0 5,7A2,2 0 0,0 7,9A2,2 0 0,0 9,7A2,2 0 0,0 7,5Z" />
        </svg>
        <span *ngIf="selectedTutorial else addTut"> {{ 'TUTORIAL_MENU.Modify a tutorial' | translate  }} </span>
        <ng-template #addTut > {{ 'TUTORIAL_MENU.Add new tutorial' | translate }} </ng-template>
      </h3>
    </div>

    <div fxFlex="10" fxFlex.lt-md="10">
      <a class="close_icon">
        <i style="float: right;margin-top: 4px;" class="material-icons" (click)="closeDialog()">close</i>
      </a>
    </div>
  </div>
  <br>
  <div class="tutorial-quills">
    <form [formGroup]="tutorialForm">
      <md-input-container color="accent" style="width: 100%">
        <input mdInput tabindex="1" formControlName="title" type="text" [placeholder]="'TUTORIAL_MENU.PLACEHOLDER.Title of the tutorial'| translate"/>
      </md-input-container>

      <quill-editor class="description-quill" [placeholder]="'TUTORIAL_MENU.PLACEHOLDER.Description'| translate" formControlName="description"></quill-editor>

      
      <ng-select formControlName="userType" [multiple]="true" [items]="userTypes" style="margin: 0 1px;"
      [placeholder]="'TUTORIAL_MENU.PLACEHOLDER.Category of user'| translate"></ng-select>

      <md-input-container color="accent" style="width: 100%">
          <input mdInput tabindex="1" formControlName="link" type="text" [placeholder]="'TUTORIAL_MENU.PLACEHOLDER.Link of the tutorial'| translate"/>
        </md-input-container>

      <quill-editor class="message-quill" [placeholder]="'TUTORIAL_MENU.PLACEHOLDER.Message' | translate" formControlName="message"></quill-editor>

    </form>
  </div>
  <br>
  <div style="float: right;">
    <button md-raised-button color="primary" (click)="closeDialog()">{{'CLOSE' | translate}}</button>
    <button md-raised-button color="accent" [disabled]="tutorialForm.invalid" (click)="submit()" name="single-click">{{'SUBMIT' | translate}}</button>
  </div>
</div>
