.main.cal-4 {
    width: 32%;
    float: left;
    padding-top: 20px;
}

.main.cal-4.logo {
    padding-left: 20px;
}


.logo {
    width: 20%;
    float: left;
}

.ashok {
    width: 20%;
    float: left;
}

.title {
    width: 60%;
    float: left;
}

.tourism-header img {
    width: 70px;
}

.tourism-header {
    padding: 10px 20px;
    display: inline-block;
    width: 100%;
}