.suggestion-title {
    display: inline-block;
    font-size: 20px;
    transform: translateY(2px);
  }
  
  .full-width {
    width: 100%;
  }
  
  .mr-12 {
    margin-right: 12px;
  }
  
  .inputBox{
    margin: 10px 0px;
  }
  
  .description-detail {
    font-weight: 700;
    margin-bottom: 10px;
}