<form class="student-form" [formGroup]="form" style="max-height:550px;" (ngSubmit)="save(form.value)">

    <div class="setPasswordCard">
        <md-card class="primary-background dark-header">
            <md-card-content *ngFor="let user of userData;let i = index;">
                <div fxLayout="column" fxLayoutAlign="space-around center">
                    <div fxFlex class="center">
                        <span style="font-size: 20px;">{{'USERS.SETPASSWORD.WELCOME' | translate}}</span>
                    </div>

                    <div fxFlex class="center" *ngIf="user?.entity?.school">
                        <div style="font-size:18px;">{{user?.entity?.school?.shortName}}</div>
                    </div>

                    <div fxFlex class="center" *ngIf="user?.entity?.company">
                        <div style="font-size:18px;">{{user?.entity?.company?.companyName}}</div>
                    </div>

                    <div fxFlex class="center">
                        <div>
                            <span *ngIf="male" style="font-size:18px;"> {{'Customer.AddSchool.SchoolTitle.Mr' | translate}} </span>
                            <span *ngIf="!male" style="font-size:18px;"> {{'Customer.AddSchool.SchoolTitle.Mrs' | translate}} </span>
                            <span style="font-size:18px;">{{user?.firstName}} {{user?.lastName}}</span>
                        </div>
                    </div>

                    <div fxFlex>
                        <div fxFlexLayout="row wrap">
                            <span style="font-size:15px;">{{'USERS.SETPASSWORD.YOURLOGIN' | translate}} : {{user?.email}}</span>
                        </div>
                    </div>

                </div>

                <div fxLayout="row" fxLayoutWrap="wrap" class="margin-adjust">
                    <md-input-container class="full-width">
                        <input formControlName="password" #password mdInput [placeholder]="'USERS.SETPASSWORD.PASSWORD'| translate" type="password" pattern="(?=^.{8,12}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
                    </md-input-container>
                    <small *ngIf="form.controls['password'].hasError('pattern') && (form.controls['password'].touched)" class="mat-text-warn">
                        {{'USERS.SETPASSWORD.PASSINVALID'| translate}}
                    </small>

                    <md-input-container class="full-width">
                        <input formControlName="confirmPassword" #confirmPassword mdInput [placeholder]="'USERS.SETPASSWORD.CONFIRMPASSWORD'| translate" type="password">
                    </md-input-container>
                    <div class='form-text error' *ngIf="form.controls.confirmPassword.touched">
                        <div *ngIf="form.hasError('mismatchedPasswords')" style="color:#ff5722;">{{ 'USERS.SETPASSWORD.MATCHERROR'| translate }}</div>
                    </div>
                </div>
                
                <div fxLayout="row" fxLayoutWrap="wrap" style="margin: 10px 0px">
                        <div fxFlex="100" fxFlex.lt-md="100">
                            <md-checkbox fxFlex="6" labelPosition="after" [checked]="privacyCheck" (change)=privacyCheckEvent($event)>
                            </md-checkbox>
                            <div fxFlex style="margin-left: 5px;font-weight: 400">
                                <span>{{'PRIVACY_POLICY.READ_PRIVACY' | translate}}</span>
                                <span class="privacy-hypertext" (click)="gotoPrivacyPolicy()">{{'PRIVACY_POLICY.POLICAY_LINK' | translate}}</span>
                            </div>
                        </div>
                    </div>

                <div style="text-align:right;">
                    <button [disabled]="!privacyCheck" md-raised-button style="background: #81B441;color:#fff;" type="submit">{{'LOGIN.LOGIN' | translate}}</button>
                </div>
            </md-card-content>
        </md-card>
    </div>
</form>