<div class="page-content">
  <button md-raised-button (click)="onUpdateSchool(detailEditForm.value)" class="update" style="margin-top:10px">{{"Update" | translate}}
  </button>
  <form *ngIf="detailEditForm" [formGroup]="detailEditForm" novalidate>
    <div fxLayoutWrap formGroupName="identity" fxLayout.xs="column" fxLayoutGap="3%">
      <h3 fxFlex="100">{{"Identity" | translate}}</h3>
      <div fxFlex="15" style="background-color:green;">
        <!--logo-->
        <img src="" alt="" class="identity-logo">
      </div>
      <div fxFlex="20" fxLayoutWrap>
        <div fxFlex="100"> {{ customer.shortName }} </div>
        <div fxFlex="100">{{ customer.longName }}</div>
        <br>
        <md-checkbox fxFlex="100" labelPosition="before" formControlName="belongToGroup">{{"Customer.EditDetail.BelongToGroup" | translate}}</md-checkbox>
        <br>
        <md-input-container fxFlex="100">
          <input mdInput placeholder="{{'Customer.EditDetail.GroupName' | translate}}" formControlName="groupName">
        </md-input-container>
      </div>
    </div>
    <div fxLayoutWrap fxLayout.xs="column" fxLayoutGap="5%">
      <h3 fxFlex="100">{{ "Address" | translate }}</h3>
    </div>



    <div fxLayoutWrap fxLayout.xs="column">
      <div fxFlex fxLayoutWrap>
        <div fxFlex="80" formGroupName="addresses" fxLayoutWrap fxLayout.xs="column">
          <md-input-container fxFlex="100">
            <input mdInput placeholder="{{ 'Customer.EditDetail.Address' | translate }}" type="text" formControlName="address" maxlength="500">
          </md-input-container>
          <!--    <div fxLayout fxFlex="100" fxLayoutGap="5%" fxLayout.xs="column"> -->
          <md-input-container fxFlex="100">
            <input mdInput placeholder="{{ 'Customer.EditDetail.Zipcode' | translate }}" type="number" formControlName="postCode" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="5" min="10000">
          </md-input-container>
          <md-input-container fxFlex="100">
            <input mdInput placeholder="{{ 'Customer.EditDetail.City' | translate }}" type="text" formControlName="city" maxlength="58" pattern='([A-Za-z\s]){3,}'>
          </md-input-container>
          <!-- </div>
        <div fxLayout fxFlex="100" fxLayoutGap="5%" fxLayout.xs="column">
         -->
          <md-input-container fxFlex="100">
            <input mdInput placeholder="{{ 'Customer.EditDetail.Country' | translate }}" type="text" formControlName="country" maxlength="73" pattern='([A-Za-z\s]){3,}'>
          </md-input-container>
          <md-input-container fxFlex="100">
            <input mdInput placeholder="Fax" type="number" formControlName="fax" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="15">
          </md-input-container>
          <!-- </div>
        <div fxLayout fxFlex="100" fxLayoutGap="5%" fxLayout.xs="column">
         -->
          <md-input-container fxFlex="100">
            <input mdInput placeholder="{{ 'Customer.EditDetail.TelePhone' | translate }}" type="text" formControlName="phoneNumber" pattern='^\+?\d{0,15}' oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="15">
          </md-input-container>
          <md-input-container fxFlex="100">
            <input mdInput placeholder="{{ 'Customer.EditDetail.RectorateNumber' | translate }}" type="text" formControlName="uaiCode" maxlength="30">
          </md-input-container>
        </div>
      </div>
      


      <div fxFlex fxLayoutWrap>
        <div fxLayoutWrap formGroupName="socialAddresses" fxLayout.xs="column" fxLayoutGap="20%">
          <h3 fxFlex="100">{{"Customer.EditDetail.WebsiteSocialMedia" | translate}}</h3>
          
          <div fxFlex="80" fxLayoutWrap>
            <!--column 1-->
            <md-input-container fxFlex="100">
              <input mdInput placeholder="{{'Customer.EditDetail.WebUrl' | translate}}" type="text" formControlName="webUrl">
            </md-input-container>
            <md-input-container fxFlex="100">
              <input mdInput placeholder="{{'Customer.EditDetail.EmailAddress' | translate}}" type="text" formControlName="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" title="Email Address" maxlength="254">
            </md-input-container>
            <md-input-container fxFlex="100">
              <input mdInput type="text" placeholder="{{'Customer.EditDetail.FaceBook' | translate}}" formControlName="facebookUrl" maxlength="2083">
            </md-input-container>
            <md-input-container fxFlex="100">
              <input mdInput type="text" placeholder="{{'Customer.EditDetail.twitterUrl' | translate}}" formControlName="twitterUrl" maxlength="2083">
            </md-input-container>
            <md-input-container fxFlex="100">
              <input mdInput type="text" formControlName="instagramUrl" placeholder="{{'Customer.EditDetail.instagramUrl' | translate}}" maxlength="2083">
            </md-input-container>
            <md-input-container fxFlex="100">
              <input mdInput type="text" formControlName="youtubeUrl" placeholder="{{'Customer.EditDetail.youtubeUrl' | translate}}" maxlength="2083">
            </md-input-container>
            <md-input-container fxFlex="100">
              <input mdInput type="text" formControlName="vimeoUrl" placeholder="{{'Customer.EditDetail.youtubeUrl' | translate}}" maxlength="2083">
            </md-input-container>
            <md-input-container fxFlex="100">
              <input mdInput type="text" formControlName="linkedinUrl" placeholder="{{'Customer.EditDetail.linkedinUrl' | translate}}" maxlength="2083">
            </md-input-container>
            <md-input-container fxFlex="100">
              <input mdInput type="text" formControlName="viadeoUrl" placeholder="{{'Customer.EditDetail.viadeoUrl' | translate}}" maxlength="2083">
            </md-input-container>
          </div>
        
        </div>

      </div>
    </div>
         
    <div fxLayoutWrap fxLayout.xs="column">
     <div fxFlex="50" formGroupName="addresses" fxLayoutWrap fxLayout.xs="column" *ngIf="addAddress">
          <md-input-container fxFlex="100">
            <input mdInput placeholder="{{ 'Customer.EditDetail.Address' | translate }}" type="text" formControlName="address" maxlength="500">
          </md-input-container>
          <!--    <div fxLayout fxFlex="100" fxLayoutGap="5%" fxLayout.xs="column"> -->
          <md-input-container fxFlex="100">
            <input mdInput placeholder="{{ 'Customer.EditDetail.Zipcode' | translate }}" type="number" formControlName="postCode" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="5" min="10000">
          </md-input-container>
          <md-input-container fxFlex="100">
            <input mdInput placeholder="{{ 'Customer.EditDetail.City' | translate }}" type="text" formControlName="city" maxlength="58" pattern='([A-Za-z\s]){3,}'>
          </md-input-container>
          <!-- </div>
        <div fxLayout fxFlex="100" fxLayoutGap="5%" fxLayout.xs="column">
         -->
          <md-input-container fxFlex="100">
            <input mdInput placeholder="{{ 'Customer.EditDetail.Country' | translate }}" type="text" formControlName="country" maxlength="73" pattern='([A-Za-z\s]){3,}'>
          </md-input-container>
          <md-input-container fxFlex="100">
            <input mdInput placeholder="Fax" type="number" formControlName="fax" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="15">
          </md-input-container>
          <!-- </div>
        <div fxLayout fxFlex="100" fxLayoutGap="5%" fxLayout.xs="column">
         -->
          <md-input-container fxFlex="100">
            <input mdInput placeholder="{{ 'Customer.EditDetail.TelePhone' | translate }}" type="text" formControlName="phoneNumber" pattern='^\+?\d{0,15}' oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="15">
          </md-input-container>
          <md-input-container fxFlex="100">
            <input mdInput placeholder="{{ 'Customer.EditDetail.RectorateNumber' | translate }}" type="text" formControlName="uaiCode" maxlength="30">
          </md-input-container>
        </div>

    </div>

      <button class="addaddress" md-raised-button (click)="onAddAddress()">
      <i class="fa fa-lg fa-plus"></i> {{"Customer.EditDetail.AddAddress" | translate}}
    </button>
    <!-- <div fxLayoutWrap formGroupName="socialAddresses" fxLayout.xs="column" fxLayoutGap="3%">
        <h3 fxFlex="100">{{"Customer.EditDetail.WebsiteSocialMedia" | translate}}</h3>
        <div fxFlex="30" fxLayoutWrap style="height:10%">
      
          <md-input-container fxFlex="100">
            <input mdInput placeholder="{{'Customer.EditDetail.WebUrl' | translate}}" type="text" formControlName="webUrl">
          </md-input-container>
          <md-input-container fxFlex="100">
            <input mdInput placeholder="{{'emailAddress' | translate}}" type="text" formControlName="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" title="Email Address" maxlength="254">
          </md-input-container>
        </div>
        <div fxFlex fxLayoutWrap>
  
          <label fxFlex="100" style="color:green; font-size:150%">{{"Customer.EditDetail.SocialNetwork" | translate}}</label>
          <div fxLayout fxFlex>
            <div fxFlex fxLayoutWrap>
        
              <label fxFlex="20">
                <span class="font-icon_space"><i class="fa fa-facebook-square" aria-hidden="true"></i></span> Facebook
              </label>
              <md-input-container fxFlex="70">
                <input mdInput type="text" formControlName="facebookUrl" maxlength="2083">
              </md-input-container>
              <label fxFlex="20">
                <span class="font-icon_space"><i class="fa fa-twitter-square" aria-hidden="true"></i></span> Twitter
              </label>
              <md-input-container fxFlex="70">
                <input mdInput type="text" formControlName="twitterUrl" maxlength="2083">
              </md-input-container>
              <label fxFlex="20">
                <span class="font-icon_space"><i class="fa fa-google-plus-square" aria-hidden="true"></i></span> Google+
              </label>
              <md-input-container fxFlex="70">
                <input mdInput type="text" formControlName="googleUrl" maxlength="2083">
              </md-input-container>
              <label fxFlex="20">
                <span class="font-icon_space"> <i class="fa fa-instagram" aria-hidden="true"></i></span> Instagram
              </label>
              <md-input-container fxFlex="70">
                <input mdInput type="text" formControlName="instagramUrl" maxlength="2083">
              </md-input-container>
              <label fxFlex="20">
                <span class="font-icon_space"> <i class="fa fa-vimeo-square" aria-hidden="true"></i></span> Vimeo
              </label>
              <md-input-container fxFlex="70">
                <input mdInput type="text" formControlName="vimeoUrl" maxlength="2083">
              </md-input-container>
            </div>
            <div fxFlex fxLayoutWrap>
        
              <label fxFlex="20">
                <span class="font-icon_space"><i class="fa fa-viadeo-square" aria-hidden="true"></i></span> Viadeo
              </label>
              <md-input-container fxFlex="70">
                <input mdInput type="text" formControlName="viadeoUrl" maxlength="2083">
              </md-input-container>
              <label fxFlex="20">
                <span class="font-icon_space"><i class="fa fa-linkedin-square" aria-hidden="true"></i></span> Linkedin
              </label>
              <md-input-container fxFlex="70">
                <input mdInput type="text" formControlName="linkedinUrl" maxlength="2083">
              </md-input-container>
              <label fxFlex="20">
                <span class="font-icon_space"><i class="fa fa-youtube-square" aria-hidden="true"></i></span> Youtube
              </label>
              <md-input-container fxFlex="70">
                <input mdInput type="text" formControlName="youtubeUrl" maxlength="2083">
              </md-input-container>
            </div>
          </div>
        </div>
      </div> -->
  </form>
</div>
