.ctMrg{
    margin-left: 2.5%;
    margin-right: 2.5%;
}

md-card-title p{
    margin:0px;
}

button.update.mat-raised-button{
    margin-top:15px;
    background-color:#365E55
}

button.update.mat-raised-button{
    margin-top:15px;
    background-color:#365E55
}