md-card {
    margin-top: 13em;
}

.bt {
    margin-top: 10px;
}

.rc-anchor-dark {
    background-color: #424242;
    border: none !important;
    box-shadow: none !important;
}

:host /deep/ {
    iframe {
        transform: scale(0.85) !important;
        margin-left: 22px;
    }

    .rc-anchor-dark {
        background-color: #424242;
        border: none !important;
        box-shadow: none !important;
    }
}