<div class="main">
  <div class="container">
    <div class="tourism">
      <div class="mp cal-4">
        <img src="../../../assets/images/mp1.jpeg" alt='mp Logo'>
        <button (click)="mpTourism()">visit</button>
      </div>
      <div class="gujrat cal-4"><img src="../../../assets/images/gujrat1.png" alt='gujrat Logo'><button
          (click)="gujratTourism()">visit</button></div>
      <div class="rajsthan cal-4"><img src="../../../assets/images/rajsthan1.jpeg" alt='rajsthan Logo'><button
          (click)="rajsthanTourism()">visit</button>
      </div>
    </div>
  </div>
</div>