<form>
  <div fxLayout="column" fxLayoutAlign="start" style="width: 100%; height: 100%;">
    <div style="margin-left: -24px; margin-right: -24px; margin-top: -24px;">
      <div class="pa-1">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <div fxFlex>
            <span style="vertical-align: -webkit-baseline-middle;">
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#000000 " d="M19,19H5V5H15V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V11H19M7.91,10.08L6.5,11.5L11,16L21,6L19.59,4.58L11,13.17L7.91,10.08Z"
                />
              </svg>
            </span>

            <span class="text-xl" >
              {{ "SEND_COPY_CROSS.SENT_TO" | translate }} 
              <span *ngIf="isSendToCrossCorrectortask; else sendtoCertifier">
                {{ ' ' + crossCorrectionDetails?.schoolCorrectingShortName }}
              </span>
              <ng-template #sendtoCertifier>
                  {{ "SEND_COPY_CROSS.CERTIFIER" | translate }}
              </ng-template>
            </span>

          </div>
          <button md-icon-button (click)="closeDialog(false)">
            <md-icon>close</md-icon>
          </button>
        </div>
      </div>
      <hr>
    </div>
    <br>
    <div fxLayout="row wrap">
      <div fxFlex="30">
        <label> {{'DASHBOARD.DUEDATE' | translate}} </label>
      </div>
      <div fxFlex="70">
        : &nbsp;&nbsp; {{ task?.dueDate | date: 'dd/MM/yyyy' }}
      </div>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex="30">
        <label> {{'DASHBOARD.ASSIGNEDTO' | translate}} </label>
      </div>
      <div fxFlex="70">
        : &nbsp;&nbsp; {{task?.userSelection?.selectionType === 'user' ? task?.userSelection?.firstName + ' ' + task?.userSelection?.lastName
        : '' }}
      </div>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex="30">
        <label> {{'DASHBOARD.TASK' | translate}} </label>
      </div>
      <div fxFlex="70">
        <span *ngIf="crossCorrectionDetails && isSendToCrossCorrectortask; else certifierDetailTask" >: &nbsp;&nbsp; {{ "SEND_COPY_CROSS.SENT_TO" | translate }} {{ ' ' + crossCorrectionDetails?.schoolCorrectingShortName }} </span>
        <ng-template #certifierDetailTask>: &nbsp;&nbsp; 
          {{ "SEND_COPY_CROSS.SENT_TO_CERTIFIER" | translate }} {{ computeCivility( certifierDetailsToSendCopies?.adminCertifier?.sex ) + ' ' + certifierDetailsToSendCopies?.adminCertifier?.firstName
            + ' ' + certifierDetailsToSendCopies?.adminCertifier?.lastName }}
        </ng-template>
      </div>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex="30">
        <label> {{'DASHBOARD.DESCRIPTION' | translate}} </label>
      </div>:
      <div fxFlex="69" style="padding-left: 3%;">
        <div *ngIf="crossCorrectionDetails && isSendToCrossCorrectortask; else certifierDetails">
          <p> {{'SEND_COPY_CROSS.PAPER_COPIES_TO' | translate}}</p>
          <p>{{ computeCivility( crossCorrectionDetails?.schoolCorrectingAcadirSex ) + ' ' + crossCorrectionDetails?.schoolCorrectingAcadirFirstName
            + ' ' + crossCorrectionDetails?.schoolCorrectingAcadirLastName }}</p>
          <p *ngIf="crossCorrectionDetails?.schoolCorrectingShortName">
            <span>{{ crossCorrectionDetails.schoolCorrectingShortName}}</span>
            <span *ngIf="crossCorrectionDetails?.schoolCorrectingLongName"> {{ ' - ' + crossCorrectionDetails.schoolCorrectingLongName }}</span>
          </p>
          <p *ngIf="crossCorrectionDetails?.schoolCorrectingAddress1">{{ crossCorrectionDetails?.schoolCorrectingAddress1 }} </p>
          <p *ngIf="crossCorrectionDetails?.schoolCorrectingAddress2">{{ crossCorrectionDetails?.schoolCorrectingAddress2 }} </p>
          <p *ngIf="crossCorrectionDetails?.schoolCorrectingCity">{{ crossCorrectionDetails?.schoolCorrectingCity}} </p>
          <p *ngIf="crossCorrectionDetails?.schoolCorrectingPostcode">{{ crossCorrectionDetails?.schoolCorrectingPostcode }} </p>
          <p> {{ 'SEND_COPY_CROSS.LIST_OF_STUDENT' | translate}}</p>
          <ul class="student-list-scroll">
            <li *ngFor="let student of crossCorrectionDetails?.studentsAssignToSchoolCorrecting">
              {{ computeCivility( student.sex ) + ' ' + student.firstName + ' ' + student.lastName }}
            </li>
          </ul>
        </div>
        <ng-template #certifierDetails>
          <p> {{'SEND_COPY_CROSS.SENT_TO_CERTIFIER_DESCP' | translate}} </p>
          <p> {{ computeCivility( certifierDetailsToSendCopies?.adminCertifier?.sex ) + ' ' + certifierDetailsToSendCopies?.adminCertifier?.firstName
            + ' ' + certifierDetailsToSendCopies?.adminCertifier?.lastName }}</p>
          <p *ngIf="certifierDetailsToSendCopies?.school?.shortName">
            <span>{{ certifierDetailsToSendCopies.school.shortName}}</span>
            <span *ngIf="certifierDetailsToSendCopies?.school?.longName"> {{ ' - ' + certifierDetailsToSendCopies.school.longName }}</span>
          </p>
          <p *ngIf="certifierDetailsToSendCopies?.school?.schoolAddress?.address1">{{ certifierDetailsToSendCopies.school.schoolAddress.address1 }} </p>
          <p *ngIf="certifierDetailsToSendCopies?.school?.schoolAddress?.address2">{{ certifierDetailsToSendCopies.school.schoolAddress.address2 }} </p>
          <p *ngIf="certifierDetailsToSendCopies?.school?.schoolAddress?.city">{{ certifierDetailsToSendCopies.school.schoolAddress.city}} </p>
          <p *ngIf="certifierDetailsToSendCopies?.school?.schoolAddress?.postalCode">{{ certifierDetailsToSendCopies.school.schoolAddress.postalCode }} </p>
        </ng-template>
      </div>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex="30">
        <label> {{'DASHBOARD.PRIORITY' | translate}} </label>
      </div>
      <div fxFlex="70">
        : &nbsp;&nbsp; {{ task?.priority }}
      </div>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex>
        <hr />
      </div>
    </div>
    <div fxLayout="row wrap" *ngIf="isAssignByLoginUser && task?.taskStatus === 'Done'">
      <div fxFlex="100">
        <div fxLayout="column wrap">
          <div fxLayout="row wrap">
            <div fxFlex="100">
              <label>
                {{task?.userSelection?.selectionType !== 'user' ? task.userSelection.userTypeId ? getTranslateADMTCSTAFFKEY(task.userSelection.userTypeId.name):
                '' : task?.userSelection?.userId?.firstName + ' ' + task?.userSelection?.userId?.lastName }}
              </label>
            </div>
          </div>
          <div fxLayout="row wrap">
            <div fxFlex="30">
              <label> {{ 'TASK.TASKDETAILS.DATE' | translate }} </label>
            </div>
            <div fxFlex="70">
              : &nbsp;&nbsp; {{ task?.createdAt | date: 'dd/MM/yyyy' }}
            </div>
          </div>

          <div fxLayout="row wrap">
            <div fxFlex="30">
              <label> {{ 'TASK.TASKDETAILS.STATUS' | translate }} </label>
            </div>
            <div fxFlex="70">
              : &nbsp;&nbsp; {{ task?.status }}
            </div>
          </div>

          <div fxLayout="row wrap">
            <div fxFlex="30">
              <label> {{ 'TASK.TASKDETAILS.ACTIONTAKEN' | translate }} </label>
            </div>
            <div fxFlex="70">
              : &nbsp;&nbsp; {{ task?.actionTaken }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex>
        <hr />
      </div>
    </div>
    <div fxLayout="row wrap" style="margin-top: 10px;">
      <div fxFlex=100 fxLayoutAlign="center center">
        <span>{{ 'TASK.TASKDETAILS.PENDING' | translate }}</span>
        <mat-slide-toggle [(ngModel)]="isTaskDone" [ngModelOptions]="{standalone: true}">
          {{ 'TASK.TASKDETAILS.ACHIEVED' | translate }}
        </mat-slide-toggle>
      </div>
    </div>
    <div class="taskDetailsText" fxLayout="row wrap" style="margin-top: 10px;" *ngIf="!isAssignByLoginUser || task?.taskStatus !== 'Done'">
      <div fxFlex=100>
        <md-input-container style="width: 100%">
          <textarea [(ngModel)]="actionTaken" [ngModelOptions]="{standalone: true}" placeholder="{{ 'TASK.TASKDETAILS.ACTIONTAKEN' | translate }}"
            mdInput></textarea>
        </md-input-container>
      </div>
    </div>
    <div class="taskDetailsText" fxLayout="row wrap" style="margin-top: 10px;" *ngIf="isAssignByLoginUser && task?.taskStatus === 'Done'">
      <div fxFlex=100>
        <md-input-container style="width: 100%">
          <textarea [(ngModel)]="comment" [ngModelOptions]="{standalone: true}" placeholder="{{ 'TASK.TASKDETAILS.COMMENTS' | translate }}"
            mdInput></textarea>
        </md-input-container>
      </div>
    </div>
    <div fxLayout="row wrap" style="margin-top: 10px;">
      <div fxFlex=100 fxLayoutAlign="end end" fxLayoutGap="20px">
        <button md-raised-button color="primary" [disabled]="!isTaskDone" (click)="completeSendCopiesTask()">{{'STUDENT.SAVE' | translate}}</button>
        <button md-raised-button color="warn" (click)="closeDialog(false)">{{'CANCEL' | translate}}</button>
      </div>
    </div>
  </div>
</form>