:host /deep/ {
    .ql-container {
        height: auto;
    }
    .viewQuestionnaire .mat-tab-label {
      display: none;
  }
}
.ql-container {
  height: auto;
}
.viewQuestionnaire .mat-tab-label {
  display: none;
}
