

:host /deep/ {
  .schoolListComponent ng-select select-dropdown>div .options {
      background-color: rgba(0, 0, 0, 0.5)
  }
  .schoolListComponent .ui-select-placeholder {
      color: #dddddd;
      float: left;
      font-weight: 700;
      font-size: 14px;
      margin-left: -12px;
  }
  .schoolListComponent .form-control:focus {
      box-shadow: #424242;
      border-left-color: #424242 !important;
      border-right-color: #424242 !important;
      border-top: none !important;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 0, 0, .6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 0, 0, .6);
  }
  .schoolListComponent .btn {
      background-color: #424242 !important;
      border-left-color: #424242 !important;
      border-right-color: #424242 !important;
      border-top: none !important;
  }
  .schoolListComponent .ui-select-match-text {
      color: white;
      margin-left: -12px;
  }
  .schoolListComponent input {
      color: white !important;
      background-color: #424242 !important;
      border-left-color: #424242 !important;
      border-right-color: #424242 !important;
      border-top: none !important;
  }
  .schoolListComponent {
      input {
          background-color: #424242 !important;
      }
  }
  .schoolListComponent .text-muted {
    color: white !important;
  }

  .schoolListComponent .btn-default, .schoolListComponent .form-control {
    color: white;
  }

  .schoolListComponent .form-control input {
    color: black;
  }

  .schoolListComponent .ui-select-match-item{
    color: black !important;
  }

  .schoolList .mat-input-wrapper {
    width: 200px;
  }
  .schoolListMainDivision .datatable-header .datatable-header-inner .datatable-header-cell .datatable-checkbox{
    margin-left: -10px;
  }
}

.tags {
  background-color: #ffd740;
  color: black;
  padding: 3px 5px 3px 5px;
  border-radius: 3px;
  margin-right: 5px;
}

.btnSearch {
  height: 37px;
}

.app-dark .mat-raised-button .mat-primary {
  flex: none !important;
}

.schoolListComponent ng-select select-dropdown>div .options {
  background-color: rgba(0, 0, 0, 0.5)
}

.schoolListComponent .btn {
   background-color: #353535;
    background-color: #424242 !important;
    border-left-color: #424242 !important;
    border-right-color: #424242 !important;
    border-top: none !important;
}

.schoolListComponent .text-muted {
  color: white !important;
}
.schoolListComponent .btn-default {
  color: white;
}
.schoolListComponent .ui-select-match-item{
  color: black !important;
}

// .addUser {
//   // color: white;
// }
.addButton{
  max-width: 53% !important;
}
.scName {
    display: block;
    width: 100%;
    word-wrap: break-word;
}

.schoolListMainDivision .datatable-header .datatable-header-inner .datatable-header-cell .datatable-checkbox{
  margin-left: -10px;
}
.top-bar{
  padding-top: 18px;
  padding-left: 6px;
  }

.schoolList .mat-input-wrapper {
  width: 200px;
}

.schoolListComponent .btn-default:hover{
  color: white !important;
}

.schoolListComponent .btn-default {
  color: white;
}

.school-backdrop + .cdk-overlay-pane {
  .mat-dialog-container {
    overflow: visible;
  }
}

.schoolList a:active, .schoolList a:hover,{
  color: #ffd740;
}

.schoolListComponent .form-control input {
  color: black;
}