.border-yellow{
    border: 2px solid #ffd740;
  }
  .border-yellow md-card-content{
    padding-bottom: 0px !important;
    padding-top: 5px !important;
  }


  .note-infirmation .form-title {
    color: gray !important;
  }
  .note-infirmation .title-labe-jobdesc{
    color: white !important;
  }
  .form-title {
    padding-bottom: 6px;
    margin:0px;
    font-size: 15px;
    font-weight:600;
  }
  .title-labe-jobdesc{
    font-weight: normal;
  }