/*
:host /deep/ .datatable-header-cell {
background-color: #000!important ;

}

*/
:host /deep/ .TitleText p {
  white-space: normal;
  word-wrap: break-word;
  line-height: 20px;
}
:host /deep/ .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell{
 padding-top: 0px !important;
 padding-bottom: 0px !important;
}

.mdcheck {
	padding: 6x 3px 6px 3px !important;
	margin-top: 8px !important ;
	display: block !important;
	width: 20% !important;
	float: left !important;
}

/*

.cch{
    height: 20px !important;
	max-height: 20px !important;
}

*/
