.document-list, .sub-category-list {
  list-style: none;
  padding-left: 2rem;
  margin: auto;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  md-icon {
    margin-right: 0.5rem;
  }
}
li a {
  transition: font-size .05s;
}
li a:hover {
  font-size: 1rem;
  color: #ffd740;
}
li.root-category {
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
li a.selected {
  font-size: 1rem;
  color: #ffd740;
}
