<div>
    <form [formGroup]="replyMailForm">

        <md-card-actions class="compose-mail-actions">
            <div fxLayout="row">
                <div fxFlex="40">
                    <label class="mat-button">
                        <md-icon>edit</md-icon>
                    </label>
                    <h5 style="line-height: 1;" class="mat-button">
                        {{ 'MailBox.composeMail.title' | translate }}
                    </h5>
                </div>
                <div fxFlex="60" fxLayoutAlign="end end">
                    <button md-button (click)="closeDialog()">
                        <md-icon>close</md-icon>
                    </button>
                    <label md-button class="mat-button" style="line-height: 1;" (click)="showCCInput=! showCCInput">
                        <span> {{'MailBox.composeMail.cc' | translate}} </span>
                    </label>
                    <label md-button class="mat-button" style="line-height: 1;" (click)="showBCCInput=! showBCCInput">
                        <span> {{'MailBox.composeMail.bcc' | translate}} </span>
                    </label>
                    <label md-button class="mat-button" [title]=" 'MailBox.composeMail.attach_file' | translate">
                        <md-icon>attachment_file</md-icon>
                        <input type="file" #myInput style="display:none;" name="file" multiple (change)="handleInputChange($event)">
                    </label>
                    <button md-button [title]=" 'MailBox.composeMail.send' | translate" (click)="sendMail()" [disabled]="!replyMailForm?.valid">
                        <md-icon>send</md-icon>
                    </button>
                </div>
            </div>
            <!-- <button>
                <md-
            </button>
            <button md-button [title]=" 'MailBox.composeMail.send' | translate" (click)="sendMail()" [disabled]="!mailForm.valid">
                <i class="fa fa-paper-plane"></i>
            </button>

            <label md-button class="mat-button" [title]=" 'MailBox.composeMail.attach_file' | translate">
                <i class="fa fa-paperclip"></i>
                <input type="file" style="display:none;" name="file" multiple (change)="handleInputChange($event)">
            </label>

            <!--<button md-button>
            <i class="fa fa-download"></i>
            </button>-->

            <!-- <div class="btn-close" (click)="closeDialog()">X</div> -->
        </md-card-actions>

        <md-card-content class="compose-mail">

            <!--<div fxLayout="row" fxLayoutWrap="wrap">
          <md-input-container>
            <input mdInput  [placeholder]="'TO' | translate " type="text" value="{{recipientEmail}}" formControlName="recipientMail">
          </md-input-container>
      </div>-->
             
            <div fxLayout="row" fxLayoutWrap="wrap" *ngIf="!isSugesstion">
                <md-input-container>
                    <input mdInput [placeholder]="'MailBox.replyMail.to' | translate " [mdAutocomplete]="autoCompTo" [formControl]="replyMailForm.controls['search_receiver']"
                        type="search">
                </md-input-container>
                
            </div>

            <div fxLayout="row" fxLayoutWrap="wrap" *ngIf="isSugesstion">
                <md-input-container>
                   <input mdInput [readonly]="true" [placeholder]=" 'MailBox.composeMail.to' | translate" [formControl]="replyMailForm.controls[ 'search_receiver']">
               </md-input-container>
               <!-- <md-autocomplete #autoCompTo="mdAutocomplete" [displayWith]="recepientDisplayFunction.bind(this)">
                <md-option *ngFor="let res of recepientsList | async" [value]="res">
                    <span>{{ getCivility(res?.sex) }} {{ res?.display }}</span>
                </md-option>
            </md-autocomplete>
            <md-chip-list class="mail-selected-res-list" [ngClass]="selectedRecepientsList.length ? 'mb-1' : ''">
                <md-chip *ngFor="let _selRec of selectedRecepientsList; let _index=index">
                    {{ getCivility(_selRec?.sex) }} {{_selRec?.display}}
                    <i class="fa fa-times" (click)="removeSelectedRecepient(_index, 'to')"></i>
                </md-chip>
            </md-chip-list> -->
                <!-- <md-autocomplete #autoCompTo="mdAutocomplete" [displayWith]="recepientDisplayFunction.bind(this)">
                    <md-option *ngFor="let res of recepientsList | async" [value]="res">
                        <span>{{ getCivility(res?.sex) }} {{ res?.display }}</span>
                    </md-option>
                </md-autocomplete> -->
                <!-- <md-chip-list class="mail-selected-res-list" [ngClass]="selectedRecepientsList.length ? 'mb-1' : ''">
                    <md-chip *ngFor="let _selRec of selectedRecepientsList; let _index=index">
                        {{ getCivility(_selRec?.sex) }} {{_selRec?.display}}
                        <i class="fa fa-times" (click)="removeSelectedRecepient(_index, 'to')"></i>
                    </md-chip>
                </md-chip-list> -->
            </div>
            <div fxLayout="row" fxLayoutWrap="wrap" *ngIf="showCCInput">
                <md-input-container>
                    <input mdInput [placeholder]=" 'MailBox.composeMail.cc' | translate" [mdAutocomplete]="autoCompToCC" [formControl]="replyMailForm.controls[ 'cc']"
                        type="search">
                </md-input-container>
                <md-autocomplete #autoCompToCC="mdAutocomplete" [displayWith]="ccrecepientDisplayFunction.bind(this)">
                    <md-option *ngFor="let res of ccrecepientsList | async" [value]="res">
                        <span>{{ getCivility(res?.sex) }} {{ res?.display }}</span>
                    </md-option>
                </md-autocomplete>
                <md-chip-list class="mail-selected-res-list" [ngClass]="selectedRecepientsList.length ? 'mb-1' : ''">
                    <md-chip *ngFor="let _selRec of ccselectedRecepientsList; let _index=index">
                        {{ getCivility(_selRec?.sex) }} {{_selRec?.display}}
                        <i class="fa fa-times" (click)="removeSelectedRecepient(_index, 'cc')"></i>
                    </md-chip>
                </md-chip-list>
            </div>
            <div fxLayout="row" fxLayoutWrap="wrap" *ngIf="showBCCInput">
                <md-input-container>
                    <input mdInput [placeholder]=" 'MailBox.composeMail.bcc' | translate" [mdAutocomplete]="autoCompToBCC" [formControl]="replyMailForm.controls[ 'bcc']"
                        type="search">
                </md-input-container>
                <md-autocomplete #autoCompToBCC="mdAutocomplete" [displayWith]="bccrecepientDisplayFunction.bind(this)">
                    <md-option *ngFor="let res of bccrecepientsList | async" [value]="res">
                        <span>{{ getCivility(res?.sex) }} {{ res?.display }}</span>
                    </md-option>
                </md-autocomplete>
                <md-chip-list class="mail-selected-res-list" [ngClass]="selectedRecepientsList.length ? 'mb-1' : ''">
                    <md-chip *ngFor="let _selRec of bccselectedRecepientsList; let _index=index">
                        {{ getCivility(_selRec?.sex) }} {{_selRec.display}}
                        <i class="fa fa-times" (click)="removeSelectedRecepient(_index, 'bcc')"></i>
                    </md-chip>
                </md-chip-list>
            </div>

            <div fxLayout="row" fxLayoutWrap="wrap">
                <md-chip-list class="mail-selected-res-list" [ngClass]="selectedRecepientsList.length ? 'mb-1' : '' ">
                    <md-chip *ngFor="let _selRec of selectedRecepientsList; let _index = index">
                        {{_selRec.display}}
                        <i class="fa fa-times" (click)="removeSelectedRecepient(_index)"></i>
                    </md-chip>
                </md-chip-list>
            </div>

            <!--<div fxLayout="row" fxLayoutWrap="wrap">
        <md-input-container>
          <textarea maxlength="500" mdInput [placeholder]="'MailBox.replyMail.message' | translate " rows="10" formControlName="message"></textarea>
        </md-input-container>
      </div>-->
            <div fxLayout="row" fxLayoutWrap="wrap" *ngIf="!isSugesstion">
                <md-input-container>
                    <input mdInput [(ngModel)]="subject" [placeholder]="'MailBox.composeMail.subject' | translate " [formControl]="replyMailForm.controls['subject']">
                </md-input-container>
            </div>
           
            <div fxLayout="row" fxLayoutWrap="wrap" *ngIf="isSugesstion">
                <md-input-container>
                    <input mdInput [(ngModel)]="subject" [placeholder]="'MailBox.composeMail.subject' | translate " [formControl]="replyMailForm.controls['subject']">
                </md-input-container>
            </div>

            <div fxLayout="row" fxLayoutWrap="wrap" *ngIf="!isSugesstion">
                <quill-editor [(ngModel)]="replyMailMessage" [readOnly]="false" debounce="500" [formControl]="replyMailForm.controls['message']"></quill-editor>
            </div>

            <div fxLayout="row" fxLayoutWrap="wrap" *ngIf="isSugesstion">
                <quill-editor [(ngModel)]="composeMailMessage" [placeholder]=" 'STUDENT.INSERTTEXT' | translate" debounce="500" [formControl]="replyMailForm.controls['message']"></quill-editor>
            </div>

            <div fxLayout="row" fxLayoutWrap="wrap" class="file-section">
                <div class="mb-2" fxFlex *ngFor="let img of imageSrc">
                    <label class="uploader" ondragover="return false;" [class.loaded]="loaded" [style.outlineColor]="dragging ? activeColor : baseColor"
                        (dragenter)="handleDragEnter()" (dragleave)="handleDragLeave()" (drop)="handleDrop($event)">

                        <i class="fa fa-file-image-o fa-icon" aria-hidden="true" *ngIf="img.type=='image/jpeg'"></i>
                        <i class="fa fa-file-text fa-icon" aria-hidden="true" *ngIf="img.type=='text/plain'"></i>
                        <i class="fa fa-file-pdf-o fa-icon" aria-hidden="true" *ngIf="img.type=='application/pdf'"></i>

                    </label>
                </div>

            </div>
            <!-- <div fxLayout="row" fxLayoutWrap="wrap" *ngIf="isSugesstion">
                <quill-editor [(ngModel)]="composeMailMessage" [placeholder]=" 'STUDENT.INSERTTEXT' | translate" debounce="500" [formControl]="replyMailForm.controls['message']"></quill-editor>
            </div> -->
        </md-card-content>
    </form>

</div>