.icon-middle {
  vertical-align: middle;
}

.suggestion-title {
  margin-left: 12px;
  vertical-align: middle;
  display: inline-block;
}

.full-width {
  width: 100%;
}

.mr-12 {
  margin-right: 12px;
}

.new-line {
  display: block;
  clear: both;
}
