.tags {
    background-color: #ffd740;
    color: black;
    padding: 3px 5px 3px 5px;
    border-radius: 3px;
    margin-right: 5px;
}

.btnSearch {
    height: 37px;
}

.app-dark .mat-raised-button .mat-primary {
    flex: none !important;
}

.btnMessageWhite {
    color: white;
    font-size: 19px;
}

.customImage {
    border-radius: 35px;
    width: 50px;
    height: 50px;
    margin-left: 11px;
    margin-top: -19px;
    position: fixed!important;
}

.tooltips {
    position: relative;
    display: block;
}

.tooltips .tooltipimage {
    visibility: hidden;
    width: 120px;
    height: 120px;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1000!important;
    margin-bottom: 50px;
}

.tooltips:hover .tooltipimage {
    visibility: visible;
}

.contentAlignMent {
    margin-left: 3px;
}

.colorGreenn {
    color: greenyellow;
    font-size: 24px;
    margin-left: 1%;
}

.colorRedd {
    color: red;
    font-size: 24px;
}

.admtcNgxDiv .datatable-header .datatable-header-inner .datatable-header-cell .datatable-checkbox{
    margin-left: -10px;
  }

.ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell {
    text-align: center;
}

.statusIcon {
    font-size:25px;
    cursor: pointer;

}

:host /deep/ {
    .admtcNgxDiv .datatable-header .datatable-header-inner .datatable-header-cell .datatable-checkbox{
        margin-left: -10px;
      }

    .admtcStudentTableComponent ng-select select-dropdown>div .options {
        background-color: rgba(0, 0, 0, 0.5)
    }
    .admtcStudentTableComponent .ui-select-placeholder {
        color: #dddddd;
        float: left;
        font-weight: 700;
        font-size: 14px;
        margin-left: -12px;
    }
    .admtcStudentTableComponent .form-control:focus {
        box-shadow: #424242;
        border-left-color: #424242 !important;
        border-right-color: #424242 !important;
        border-top: none !important;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 0, 0, .6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 0, 0, .6);
    }
    .admtcStudentTableComponent .btn {
        background-color: #424242 !important;
        border-left-color: #424242 !important;
        border-right-color: #424242 !important;
        border-top: none !important;
    }
    .admtcStudentTableComponent .ui-select-match-text {
        color: white;
        margin-left: -12px;
    }
    .admtcStudentTableComponent input {
        color: white !important;
        background-color: #424242 !important;
        border-left-color: #424242 !important;
        border-right-color: #424242 !important;
        border-top: none !important;
    }
    .admtcStudentTableComponent {
        input {
            background-color: #424242 !important;
        }
    }
    .datatable-body {
      overflow-x: hidden !important;
    }
}


.admtcStudentTableComponent ng-select select-dropdown>div .options {
    background-color: rgba(0, 0, 0, 0.5)
}

.admtcStudentTableComponent .btn {
    background-color: gray;
}

.admtcStudentTableComponent input {
    background-color: gray;
}

.admtcStudentTableComponent {
    input {
        background-color: gray;
    }
}


